# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.pyenv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# macOS & Linux
.DS_Store
Thumbs.db

# Python cache and logs
*.log
*.pot
*.mo
*.pyo

# Testing
htmlcov/
.coverage
.tox/
.nox/
.cache/
pytest_cache/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Pipenv
Pipfile.lock

# mypy
.mypy_cache/

# Coverage reports
coverage.xml
*.cover
*.py,cover

# PyInstaller
*.manifest
*.spec
